main {
    &>* {
        margin: $margenGrande;
    }
    & > :nth-child(even){
        background-color: map-get($colors, "grisFondo");
    }
}
header {
    background: url("../assets/img/fondoHero.jpg");
}
.hero__texto--titulo {
    font-size: 3rem;
    color: map-get($colors, "white");  /* Saco un color de un mapa de Bootstrap */
}
.logo {
    width: 70%;
}
hr {
    display: none;
    transition: width 1s;
}
.nav-link:hover+hr{
    width: 85%;
}

