@import "../node_modules/bootstrap/scss/mixins";
@mixin flexCentrado($direccion: fila) {
    display: flex;
    align-items: center;
    justify-content: center;
    @if $direccion == columna {
        flex-direction: column;
    }
    @else if $direccion == columnaInv{
        flex-direction: column-reverse;
    }
    @else if $direccion == filaInv{
        flex-direction: row-reverse;
    }
    @else if $direccion == fila{
        flex-direction: row;
    }
    @else {
        @error "Debes meter o fila, filaInv, columna o columnaInv como argumento de este mixin"
    }
};

@include media-breakpoint-up(xl) {
    hr {
        display: block !important; /* Queda pisado por bootstrap con sus !important, en vez de usarlo yo, que sería mala práctica, purgaré al CSS como dijo Ayelén primero */
        width: 20%;
        margin: auto;
    }
};