@import "./variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$theme-colors: map-merge($nuevos_colores, $theme-colors);
$colors: map-merge($nuevos_colores, $colors);
$spacers: map-merge($nuevos_box_model, $spacers);
$grid-breakpoints: (  /* No usé la misma manera anterior, porque Bootstrap pedía meter los nuevos breakpoints entre medio, y busqué, leí, vi videos, y no sé mucho de programación como para meter entre medio el valor o mapa con algún bucle :(, así que busqué el valor y lo pegué, como está en !default el de Bootstrap, no habría problema */
    xs: 0,
    mini: 520px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixins";
@import "./index";
@import "./contacto";

.flexcentrar {
    @include flexCentrado
}
.centrarTodo {
    @extend .flexcentrar;
    
    & * {
        @extend .flexcentrar;
    }
}
header {
    background: $heroLink;
}

.tarjetaWrapper {
    @extend .col-md-6, .col-lg-4, .p-2, .my-3;
}